* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	height: 90%;
	width: 90%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: 100px 1fr 1fr;
	grid-template-rows: 125px 1fr;
	gap: 0 1rem;
}
.sidebar {
	grid-row: 1 / -1;
	border-top-left-radius: 3rem;
	border-bottom-left-radius: 3rem;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 2rem;
}
.sidebar div {
	flex: 1;
}
.sidebar div:last-child {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.title {
	grid-column: 2 / -1;
	border-top-right-radius: 3rem;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content {
	grid-column: 2 / 4;
	overflow: scroll;
	border-bottom-right-radius: 3rem;
	display: flex;
	padding: 4rem 0;
}
.left,
.right {
	flex-basis: 100%;
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
}

.sidebar {
	border-right: 1px solid black;
}
.title {
	border-bottom: 1px solid black;
}
@media screen and (max-width: 700px) {
	.content {
		flex-direction: column;
	}
}
